body{
  background-image: url(../img/topography.png);
  font-family: 'Raleway', sans-serif;
  color: gray;
  font-size: 1.5em;
}

.container{
  width: 100%;
  justify-content: center;
  text-align: center;
}

.paragraphe{
  font-weight: bold;
}

.inputNameSearch{
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.buttonNameSearch{
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
